<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569410624110-26ih9it3j3ta3v0n84r9ov573vhiii5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569410624110-26ih9it3j3ta3v0n84r9ov573vhiii5a</string>
	<key>API_KEY</key>
	<string>AIzaSyCzTk-FwdaKPiPzD3AhXKSFwoTMkNTbNI0</string>
	<key>GCM_SENDER_ID</key>
	<string>569410624110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.user162638.Parstagram</string>
	<key>PROJECT_ID</key>
	<string>parstagram-2c5fd</string>
	<key>STORAGE_BUCKET</key>
	<string>parstagram-2c5fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569410624110:ios:3d41e246a4e2ee4d65647f</string>
	<key>DATABASE_URL</key>
	<string>https://parstagram-2c5fd.firebaseio.com</string>
</dict>
</plist>